<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<!--     <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon pour réseaux sociaux -->
    <%= partial 'partials/favicon.html' %>

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Cookoon" %></title>

    <!-- favicon dans url -->
    <!-- <link rel="icon" href="../images/favicon.ico"> -->
    <link rel="icon" type="image/png" href="/images/cookoon-logo-favicon.png" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- didot font-->
    <!-- <link href="https://fonts.googleapis.com/css?family=GFS+Didot&display=swap" rel="stylesheet"> -->

    <%= stylesheet_link_tag "site" %>
    <%#= javascript_include_tag "site" %>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a824697d3a.js" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- pour faire fonctionner bootstrap animé type carrousel -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- meta réseaux sociaux -->
    <meta property="og:title" content="HOME | Cookoon">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cookoon.fr/">
    <meta property="og:image" content="https://cookoon.fr/images/cookoon-logo-facebook.png">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:description" content="Dans un cadre exceptionnel, vivez avec vos convives une expérience singulière, élégante et exclusive.">
    <meta property="og:site_name" content="Cookoon">
    <meta property="fb:admins" content="facebook_user_id"/>
    <meta property="fb:app_id" content="479250069382529"/>




  </head>
  <body>
    <%= partial 'partials/navbar.html' %>

    <%= yield %>

    <%= partial 'partials/footer.html' %>

    <script>console.log("Alice")</script>
    <%= javascript_include_tag "site" %>
    <%= google_analytics_tag %>
    <%= google_tag_manager %>

    <%#= javascript_include_tag 'site', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
