---
title: Bienvenue chez Cookoon
---

<!-- banner avec card -->
<div class="cont">
  <div class="banner image-card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(http://cookoon.fr/cookoon-static.github.io/images/cookoon-spot-2.png);">
    <div class="card_description card_banner">
      <h1 class="card_title">Gastronomie privée</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iusto aperiam dolorem error consectetur architecto voluptatum nesciunt</p>
    </div>
  </div>
</div>

<!-- barre gold texte -->
<div class="cont cont_bar_gold">
  <div class="bar_gold">
  <!--   <img id="logo_cookoon_bar_gold" src="/images/cookoon-logo-white.png" alt="logo Cookoon"> -->
    <%= image_tag 'cookoon-logo-white.png', alt: 'Logo Cookoon', class: 'card_four_images_img one', id: 'logo_cookoon_bar_gold' %>
    <h1>Le concept Cookoon</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repellat esse accusantium, dicta alias cum doloremque temporibus laborum eaque. Blanditiis quos mollitia nisi aut perspiciatis. Voluptatem recusandae ratione non esse.</p>
    <p class="signature">Grégory Escure, fondateur de Cookoon</p>
  </div>
</div>


<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double">

    <!-- carte 4 images -->
    <div class="card_four_images">
      <!-- <img class="card_four_images_img one" src="/images/cookoon-chef-1.png"> -->
      <!-- <img class="card_four_images_img two" src="/images/cookoon-champagne.png"> -->
      <!-- <img class="card_four_images_img three" src="/images/cookoon-diner-1.png"> -->
      <!-- <img class="card_four_images_img four" src="/images/cookoon-chef-1.png"> -->
      <%= image_tag 'cookoon-chef-1.png', alt:'#', class: 'card_four_images_img one' %>
      <%= image_tag 'cookoon-champagne.png', alt:'#', class: 'card_four_images_img two' %>
      <%= image_tag 'cookoon-diner-1.png', alt:'#', class: 'card_four_images_img three' %>
      <%= image_tag 'cookoon-chef-1.png', alt:'#', class: 'card_four_images_img four' %>
    </div>

    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Gastronomie privée</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text"> La dégustation d'un grand cru classé, l'invitation d'une personnalité à votre dîner, un mets spécial, un violoncelliste pour accompagner votre cocktail ... la conciergerie accède à vos demandes afin de rendre chacune de vos expériences inoubliable.</p>
      <!-- bouton lien vers mail -->
      <a class="btn_gold_in_card" href="mailto:alice.fabre@hotmail.fr?subject=Demande de devis">DEMANDER UN DEVIS <span><i class="fas fa-long-arrow-alt-right"></i></span>
      </a>
    </div>
  </div>
</div>

<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double">

    <!-- carte description -->
    <div class="card_description padding-left">
      <h1 class="card_title">Gastronomie privée</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text"> La dégustation d'un grand cru classé, l'invitation d'une personnalité à votre dîner, un mets spécial, un violoncelliste pour accompagner votre cocktail ... la conciergerie accède à vos demandes afin de rendre chacune de vos expériences inoubliable.</p>
      <!-- bouton lien vers mail -->
      <a class="btn_gold_in_card" href="mailto:alice.fabre@hotmail.fr?subject=Demande de devis">DEMANDER UN DEVIS <span><i class="fas fa-long-arrow-alt-right"></i></span>
      </a>
    </div>

    <!-- carte 4 images -->
    <div class="card_four_images">
      <!-- <img class="card_four_images_img one" src="/images/cookoon-chef-1.png"> -->
      <!-- <img class="card_four_images_img two" src="/images/cookoon-champagne.png"> -->
      <!-- <img class="card_four_images_img three" src="/images/cookoon-diner-1.png"> -->
      <!-- <img class="card_four_images_img four" src="/images/cookoon-chef-1.png"> -->
      <%= image_tag 'cookoon-chef-1.png', alt:'#', class: 'card_four_images_img one' %>
      <%= image_tag 'cookoon-champagne.png', alt:'#', class: 'card_four_images_img two' %>
      <%= image_tag 'cookoon-diner-1.png', alt:'#', class: 'card_four_images_img three' %>
      <%= image_tag 'cookoon-chef-1.png', alt:'#', class: 'card_four_images_img four' %>
    </div>

  </div>
</div>

<!-- modal -->
<div class="cont">
  <!-- Button trigger modal -->
  <a class="btn_gold_in_card" data-toggle="modal" data-target="#exampleModal">VOIR LES PHOTOS <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" style="padding: 0 !important">
          <!-- bouton close -->
          <div id="close_modal">
            <button type="button" class="close button_close_modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </div>
          <!-- carrousel -->
          <div id="carouselExampleIndicators" class="carousel slide cont_carousel" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- <img class="carousel_img" src="/images/cookoon-champagne.png" alt="First slide"> -->
                <%= image_tag 'cookoon-champagne.png', alt:'First slide', class: 'carousel_img' %>
              </div>
              <div class="carousel-item">
                <!-- <img class="carousel_img" src="/images/cookoon-diner-1.png" alt="Second slide"> -->
                <%= image_tag 'cookoon-diner-1.png', alt:'Second slide', class: 'carousel_img' %>
              </div>
              <div class="carousel-item">
                <!-- <img class="carousel_img" src="/images/cookoon-chef-1.png" alt="Third slide"> -->
                <%= image_tag 'cookoon-chef-1.png', alt:'Third slide', class: 'carousel_img' %>
              </div>
            </div>
            <a class="carousel-control-prev control-margin" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next control-margin" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- image seule -->
<div class="cont">
  <!-- image -->
  <div class="cont_carousel">
    <!-- <img class="carousel_img" src="/images/cookoon-chef-1.png"> -->
    <%= image_tag 'cookoon-chef-1.png', alt:'#', class: 'card_four_images_img one' %>
  </div>
</div>

<!-- carrousel -->
<div class="cont">
  <!-- carrousel : attention : id du carousel doit être égal aux href des carousel-control-preview et doivent être uniques !!!! -->
  <div id="carouselExampleIndicators1" class="carousel slide cont_carousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img class="carousel_img" src="/images/cookoon-champagne.png" alt="First slide"> -->
        <%= image_tag 'cookoon-champagne.png', alt:'#', class: 'carousel_img' %>
      </div>
      <div class="carousel-item">
        <!-- <img class="carousel_img" src="/images/cookoon-diner-1.png" alt="Second slide"> -->
        <%= image_tag 'cookoon-diner-1.png', alt:'#', class: 'carousel_img' %>
      </div>
      <div class="carousel-item">
        <!-- <img class="carousel_img" src="/images/cookoon-chef-1.png" alt="Third slide"> -->
        <%= image_tag 'cookoon-chef-1.png', alt:'#', class: 'carousel_img' %>
      </div>
    </div>
    <a class="carousel-control-prev control-margin" href="#carouselExampleIndicators1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next control-margin" href="#carouselExampleIndicators1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- barre gold -->
<div class="bar_gold">
  <!-- <img id="logo_cookoon_bar_gold" src="/images/cookoon-logo-white.png" alt="logo Cookoon"> -->
  <%#= image_tag 'cookoon-logo-white.png', alt:'logo Cookoon', id: 'logo_cookoon_bar_gold' %>
  <h1>Ils parlent de nous</h1>
  <div id="barre_logos_bar_gold">
    <img class="logos_bar_gold" src="/images/elle-logo.png" alt="logo Axa">
    <img class="logos_bar_gold"src="/images/les-echos-logo.png" alt="logo Axa">
    <img class="logos_bar_gold"src="/images/forbes-logo.png" alt="logo Cookoon">
  </div>
</div>

