---
title: Cookoon - Devenir membre
---

<!-- CARD DOUBLE -->
<div class="cont"=>
  <!-- carte double image à droite-->
  <div class="card_double_img_on_right">
    <!-- carte description -->
    <div class="card_description padding-left">
      <h1 class="card_title">Notre philosophie</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Cookoon est club qui permet à ses membres de vivre des expériences gastronomiques exclusives. Afin de garantir à nos membres une suffisante disponibilité des lieux et des chefs, nous sommes obligés de réguler l'accès au statut de membre.</p>
      <!-- bouton lien vers mail -->
      <!-- <a class="btn_gold_in_card" href="https://cookoon.typeform.com/to/CDSN9g" target="_blank">Être rappelé(e) <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
      </a> -->
    </div>
    <!-- carte 1 image -->
    <div class="card_one_image">
      <%= image_tag 'conciergerie.jpeg', alt:'#', class: 'card_one_image_img' %>
    </div>
  </div>
</div>


<!-- CARD DOUBLE -->
<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 1 image -->
    <div class="card_one_image">
      <%= image_tag 'conciergerie.jpeg', alt:'#', class: 'card_one_image_img' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Rejoindre Cookoon </h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Pour devenir membre, vous pous pouvez :</p>
      <ul class="pl-3">
        <li>être invité(e) par un membre disposant d'invitations.</li>
        <li>postuler en remplissant le formulaire d'adhésion. Votre candidature sera alors étudiée par un comité de membres.</li>
      </ul>
      <!-- bouton lien vers mail -->
      <!-- <a class="btn_gold_in_card" href="https://cookoon.typeform.com/to/CDSN9g" id="ID7" target="_blank">Être rappelé(e) <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
      </a> -->
    </div>
  </div>
</div>

<!-- CARD DOUBLE -->
<div class="cont"=>
  <!-- carte double image à droite-->
  <div class="card_double_img_on_right">
    <!-- carte description -->
    <div class="card_description padding-left">
      <h1 class="card_title">Vous souhaitez adhérer</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">En cas d'avis favorable, votre adhésion sera validée moyennant le règlement des nos frais annuels d'adhésion de 450 €TTC (300 €TTC à partir de la seconde année).</p>
      <p class="card_text">Si le comité rend un avis favorable et que le quota maximum de membres est momentanément atteint, votre adhésion pourra être mise sur liste d'attente.</p>
      <!-- bouton lien vers mail -->
      <!-- <a class="btn_gold_in_card" href="https://cookoon.typeform.com/to/CDSN9g" target="_blank">Être rappelé(e) <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
      </a> -->
    </div>
    <!-- carte 1 image -->
    <div class="card_one_image">
      <%= image_tag 'conciergerie.jpeg', alt:'#', class: 'card_one_image_img' %>
    </div>
  </div>
</div>


<!-- CARD DOUBLE -->
<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 1 image -->
    <div class="card_one_image">
      <%= image_tag 'conciergerie.jpeg', alt:'#', class: 'card_one_image_img' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Les bénéfices des membres adhérents</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">En tant que membre adhérant, vous pourrez :</p>
      <ul class="pl-3">
        <li>accéder au site <%= link_to "membre.cookoon.club", "https://membre.cookoon.club", class: "link", target: "_blank" %> et composer les repas ou cocktails de votre choix en sélectionnant lieux et chefs.</li>
        <li>bénéficier de 5% de remise membre sur toutes vos réservations.</li>
        <li>accéder au service de conciergerie Cookoon pour vos demandes exceptionnelles.</li>
        <li>recevoir des invitations pour deux personnes à des événements privés.</li>
      </ul>
      <!-- bouton lien vers mail -->
      <a class="btn_gold_in_card" href="https://membre.cookoon.club/users/new" id="" target="_blank">Je veux adhérer <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
      </a>
    </div>
  </div>
</div>
