---
title: Réceptions professionnelles Cookoon
---

<!-- CARD DOUBLE-->
<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 4 images -->
    <div class="card_one_image">
      <%= image_tag 'cookoon-spot-2.png', alt:'champagne', class: 'card_one_image_img' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Vos réceptions professionnelles</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Un repas avec des partenaires, un cocktail client, un séminaire de direction ou un petit déjeuner presse, offrez à vos convives une expérience exclusive et discrète dans un lieu unique.</p>
      <a class="btn_gold_in_card" href="/presentation-for-business.html" target="_blank">Notre offre <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
    </div>
  </div>
</div>


<div class="cont cont_bar_gold cont_padding_down_no">
  <!-- BARRE GOLD -->
  <div class="bar_gold_five_logos">
    <%= image_tag 'cookoon-logo-favicon-white.png', alt: 'Logo Cookoon', id: 'logo_cookoon_bar_gold' %>
    <h1>Ils utilisent déjà Cookoon</h1>
    <div id="barre_logos_bar_gold">
      <%= image_tag 'Logo_AmberRoad_Blanc.png', class: 'logos_bar_gold_five_logos', alt: 'Amber Road' %>
      <%= image_tag 'Logo_DDB_Blanc.png', class: 'logos_bar_gold', alt: 'DDB' %>
      <%= image_tag 'Logo_MoetHennessy_Blanc.png', class: 'logos_bar_gold_five_logos', alt: 'Moët Hennessy' %>
      <%= image_tag 'Logo_Orange_Blanc.png', class: 'logos_bar_gold_five_logos', id:'logo_orange', alt: 'Orange' %>
      <%= image_tag 'Logo_SRI_Blanc.png', class: 'logos_bar_gold_five_logos', alt: 'SRI' %>
    </div>
  </div>
</div>









