---
title: Réceptions professionnelles Cookoon
---

<!-- CARD DOUBLE-->
<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 4 images -->
    <div class="card_one_image">
      <%= image_tag 'cookoon-spot-2.png', alt:'champagne', class: 'card_one_image_img' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Vos réceptions professionnelles</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Pourquoi ne pas délocaliser vos réunions professionnelles?</p><br>
      <p class="card_text">Un repas avec des partenaires, un cocktail client, un séminaire de direction ou un petit déjeuner presse, offrez à vos convives une expérience exclusive et discrète dans un lieu unique.</p>
    </div>
  </div>
</div>


<div class="cont cont_bar_gold">
  <!-- BARRE GOLD -->
  <div class="bar_gold">
    <%= image_tag 'cookoon-logo-favicon-white.png', alt: 'Logo Cookoon', id: 'logo_cookoon_bar_gold' %>
    <h1>Ils utilisent déjà Cookoon</h1>
    <div id="barre_logos_bar_gold">
      <%= image_tag 'american_express.png', class: 'logos_bar_gold', alt: 'American Express' %>
      <%= image_tag 'sri-logo.png', class: 'logos_bar_gold', alt: 'logos_bar_gold' %>
      <%= image_tag 'MoetHennessy_logo.png', class: 'logos_bar_gold', alt: 'logos_bar_gold' %>
    </div>
  </div>
</div>









