---
title: Réceptions professionnelles Cookoon
---

<!-- CARD DOUBLE-->
<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 4 images -->
    <div class="card_one_image">
      <%= image_tag 'cookoon-champagne.png', alt:'champagne', class: 'card_one_image_img' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Vos réceptions professionnelles</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Pourquoi ne pas délocaliser vos réunions professionnelles?</p><br>
      <p class="card_text">Avec Cookoon, vous pouvez organiser un évènement pour vos équipes «hors-les-murs» et vivre une expérience unique qui renforcera l’unicité de l’évènement pour vos collaborateurs.</p><br>
      <p class="card_text">Réunion au sommet, comité de direction, team-building, Cookoon vous ouvre ses portes et organise pour vous un moment d’exception.</p><br>
      <p>Pour vous et vos équipes, aucune organisation n’est à prévoir: nos maîtres d’hôtel s’occuperont de tout, de votre arrivée à votre départ.</p><br>
      <p>Et si vous avez un demande particulière, ils peuvent y répondre.</p>
    </div>
  </div>
</div>


<div class="cont cont_bar_gold">
  <!-- BARRE GOLD -->
  <div class="bar_gold">
    <%= image_tag 'cookoon-logo-favicon-white.png', alt: 'Logo Cookoon', id: 'logo_cookoon_bar_gold' %>
    <h1>Ils utilisent déjà Cookoon</h1>
    <div id="barre_logos_bar_gold">
      <%= image_tag 'american_express.png', class: 'logos_bar_gold', alt: 'American Express' %>
      <%= image_tag 'sri-logo.png', class: 'logos_bar_gold', alt: 'logos_bar_gold' %>
      <%= image_tag 'MoetHennessy_logo.png', class: 'logos_bar_gold', alt: 'logos_bar_gold' %>
    </div>
  </div>
</div>


<!-- BANNER -->
<!-- banner sans card -->
<div class="cont">
  <div class="banner image-card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(http://cookoon.fr/images/cookoon-spot-2.png);">
  </div>
</div>



<!-- CARD DOUBLE -->
<div class="cont cont_padding_down_bigger"=>
  <!-- carte double image à droite-->
  <div class="card_double_img_on_right">
    <!-- carte description -->
    <div class="card_description padding-left">
      <h1 class="card_title">Vos réceptions professionnelles</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Le 13 décembre 2018, nous avons reçu le comité de surveillance de la société Basic, une agence de conseil en communication basée à Paris.</p><br>
      <p class="card_text">Son dirigeant voulait réunir ses investisseurs dans un cadre particulier, pour fêter le 10ème anniversaire de l’agence.</p><br>
      <p class="card_text">Cookoon leur a proposé un cocktail préparé par la chef Agnès Imbert, accompagné d’une sélection de vins de Bourgogne.</p>
    </div>
    <!-- image -->
    <div class="card_one_image">
      <%= image_tag 'cookoon-chef-1.png', alt:'#', class: 'card_one_image_img' %>
    </div>
  </div>
</div>









